*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# EMF Generated
Lab1/src/
Lab1.edit/
Lab1.editor/
Lab1.tests/

# Package Files #
*.jar
*.war
*.ear


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

bin
build.xml
temp.folder
*.jar
samples/
xtend-gen/
src-gen/
